$def with (categories, error)
$var id:addcategory
$var title:Add Category
$var cssfiles:
$var jsfiles: $settings['path']/static/js/tree.js

<div class="col-md-6 col-md-offset-3">
    <div class="well well-lg">
        <form class="form-addcategory addcategory" role="form" method="post">
            $if error:
                <div class="alert alert-danger">$error</div>
            <h1 class="form-addcategory-heading">Add category</h1>
            <div class="input-group">
            <input name="category" type="text" class="form-control" placeholder="Category name">
            <span class="input-group-btn">
                <button class="btn btn-success" type="submit">Add</button>
            </span>
        </form>
    </div>
</div>