$var id:faq
$var title:FAQ
$var cssfiles:
$var jsfiles:

<div class="col-md-8 col-md-offset-2">
    <div class="well well-lg">
        <h1>FAQ</h1>
        <h2>Markdown</h2>
        <p>Markdown is a markup langauge which is used when writing notes on this site. Below is a quick start guide on the language to get you started.</p>
        
        <h3>Headers</h3>
        <p><code># Header #</code></p>
        <h1>Header</h1>
        <p><code>## Sub header ##</code></p>
        <h2>Subheader</h2>
        <p><code>### Subsubheader ###</code></p>
        <h3>Subsubheader</h3>
        <h3>Links</h3>
        <p><code>[Link](http://google.com)</code></p>
        <p><a href="http://google.com">Link</a></p>

        <h3>Blockqoute</h3>
        <p><code>&gt; Quoted text</code></p>
        <blockquote>
            <p>Quoted text</p>
        </blockquote>
        
        <h3>Code</h3>
        <p>Indenting the text with at least 4 spaces to put the text in a code block.</p>
        <p><code>&nbsp;&nbsp;&nbsp;&nbsp;Some Code</code></p>
        <pre><code>Some Code
        </code></pre>
        <p>A code block can also be made in-line with backticks</p>
        <pre><code>`Some Code`
        </code></pre>
        <p><code>Some Code</code></p>

        <h3>Lists</h3>
        <p>Unordered lists can be made using +,- or *</p>
        <pre><code>* Item one
* Item two
* Item three    
        </code></pre>
        <ul>
        <li>Item one</li>
        <li>Item two</li>
        <li>Item three</li>
        </ul>
        <p>Ordered lists can be made by typing a number and then a period.</p>
        <pre><code>1. Item one
2. Item two
        </code></pre>
        <ol>
        <li>Item one</li>
        <li>Item two</li>
        </ol>

        <h3>Horizontal lines</h3>
        <p>A horizontal line can be made by using 3 or more dashes.</p>
        <p><code>-----</code></p>
        <hr />

        <h3>Emphasis</h3>
        <p>Adding one underscore or star (*) as prefix and suffix on a word formats the word in italic.</p>
        <p><code>_italic_ *text*</code></p>
        <p><em>italic</em> <em>text</em></p>
        <p>Using two underscores or stars, formats the word in bold.</p>
        <p><code>__bold__ **text**</code></p>
        <p><strong>bold</strong> <strong>text</strong></p>

        <h3>Escaping</h3>
        <p>If you want to use for example two stars before and after a word without making it bold, the characters needs to be esaped by adding a backslash infront of hte characters.</p>
        <p><code>\_\_This\_\_ word is not in bold</code></p>
        <p>__This__ word is not in bold</p>
        <p>For a more in depth guide on markdown go <a href="http://daringfireball.net/projects/markdown/syntax">here</a></p>
    </div>
</div>